useDynLib(nadiv)
import(Matrix)
export(aic,
aiCI,
aiFun,
constrainFun,
drfx,
findDFC,
founderLine,
genAssign,
ggcontrib,
grfx,
is.proLik,
is.numPed,
makeA,
makeAA,
makeAinv,
makeD,
makeDomEpi,
makeDsim,
makeS,
numPed,
parConstrainFun,
pcc,
plot.proLik,
prepPed,
proLik,
prunePed,
simPedDFC,
simPedHS,
sm2list,
varTrans)

S3method(plot, proLik)
